@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-5vh {
  font-size: 5vh;
  font-weight: bold;
}

.text-4vh {
  font-size: 4vh;
  font-weight: bold;
}

.text-3vh {
  font-size: 3vh;
  font-weight: bold;
}

.text-2vh {
  font-size: 2vh;
  font-weight: bold;
}

.text-1vh {
  font-size: 1vh;
  font-weight: bold;
}
